POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cdbs
AUTH_SECRET_KEY=GNLw1GKzykA926Rhdcpy1c6lugZXTd5y
DOMAIN=0.0.0.0
PORT=3000
RUST_LOG=warn
EXP_PRESIGNED_URL=800
